*{
    /* border: 1px solid red; */
    margin:0;
    padding:0;
    box-sizing:borer-box;
    font-family:sans-serif;
    font-size:11px;
}

body{
    background-color:white;

}

.login{
    border: 1px solid lightgray;
    border-radius:2px;
    padding:10px;
    width:350px;
    display:flex;
    flex-direction:column;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
}

h1{
    font-size:1.5em;
    margin-bottom:15px;
}

label{
    margin-bottom:4px;
}

input{
    margin-bottom:15px;
    font-size:12px;
}

a{
    text-decoration:none;
    font-size:12px;
    color:rgb(0,128,255);
}
.password-area{
    display:flex;
    justify-content: space-between;
    align-items:baseline;
    text-align:center;
}

.password-area label{
    width:33%;
}

#forgot{
    width:33%;
}

button{
    background-color:rgb(255,192,64);
    border: 1px solid black;
    border-radius:3px;
    padding:4px
}

#help{
    margin:12px;
}